body {
    background-color:  #f9f2ec;
}

h1 {
    text-align: center;
}

.box {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: #ECD9C6;
}

.row {
    clear: both;
}

#gameboard {
    width: 51%;
    margin: auto;
    text-align: center;
}

.body {
    background-color: #00B3B3;
}

.head {
    background-color: #CCFFFF;
}

.fruit {
    background-color: #993333;
}

