body {
    background-color: #000000;
}
#board {
    width: 880px;
/*    margin: 0 auto;*/
}

.row {
    height: 22px;
}

.square {
    width: 22px;
    height: 22px;
    outline: 1px solid white;
    display: inline-block;
    float: left;
    background: #D2D6D9;
}

#character {
	position: absolute; 
/*	left: 400px; */
/*	right: 400px; */
/*	top: 400px; */
/*	bottom: 400px; */
	height: 22px; 
	width: 22px;
}